In [ ]:
#First step is import the data set

import pandas as pd

df = pd.read_csv('denormalized_li.csv') #just replace 'denormalized_li.csv' with the file you will use

#Basics~~

df.head(10)
#shows first 10 columns)

df.tail(6)
#shows last 6 rows

#some useful commands- 
df.columns 
df.index
df.info
df.describe
df.shape

#Data Subsetting

1. df[['product_name', 'product_price', 'product_brand']]
2. df.iloc[1, 3]
3. df.loc[:, ['product_name', 'product_brand']] #the ":" here means all rows

In [ ]:
#Boolean Expressions

1.df['product_name'] == 'Blender'
#this finds where product = blender
2. df.iloc[:, 1]
#this makes it state ALL rows, but only the first column
3. df.iloc[[5]]
#this is for rows
4. df.iloc[:5, :5]
#this works for subsetting the first 5 rows and columns (slices)
5. df.loc[df['product_name'] == 'Blender']
#this will make you find rows where there is only blender
6. df.loc[(df['product_name'] == 'Blender')
    & (df['product_brand'] == 'Oster')
    ]

#you are combining the filter, and the "&" sign can be interchanged with a (|) sign 
#if you want to do the inverse, just add the "~"

In [ ]:
#Query

1. df.query('transaction_id > 42')
2. df.query('(transaction_id > 42) and (product_brand == "Dyson")')

In [ ]:
#summarizing data

1.df['line_item_id'].mean()
#you can replaces "mean" with 
#max, min, std, var, count, sum, quantile, 
2.df[['line_item_id', 'transaction_id']].mean()
3.df[['line_item_id', 'transaction_id']].agg(['mean', 'max'])
#"agg" is to do ask for more than 1 stat"

In [ ]:
#summing caterogorical values

1.df['product_brand'].unique() #tells u the categories
2.df['product_brand'].nunique() #tells u the number of catergoies
3. df['product_brand'].value_counts()
#number of counts of each value in that field 
4. df.loc[df['product_name'] == 'Tablet']['line_item_quantity'].sum()
#This finds the total number of tablets purchased 
5. df['product_brand'] = df['product_brand'] * 55

In [ ]:
#advanved column methods

1. df[['line_item_id']].rank()
2. df.iloc[2:5, 0:5] #[row, column]

In [ ]:
#groupby

df.groupby('transaction_id')[['line_item_id']].agg(['mean', 'min'])

In [ ]:
#sort values

1. df.sort_values('line_item_id')
2. df.sort_values('line_item_id', ascending=False)

In [ ]:
#string values 

1. df['product_name'].str.upper() #this makes 'product_name' all upper case letters

In [ ]:
#reducing data

1.
#using groupby
    #takes all the rows with the SAME PRODUCT
df.groupby('category').sum()

#here we first group by category "df.groupby"
#then take their respective "[quantity]"
#get the sum of their quantities ".sum()"
totalnumber_ofeachitem = df.groupby('category')['quantity'].sum()
totalnumber_ofeachitem